.App {
  display: block;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* Accounts View */
.accounts-view {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

/* Side Bar */
.select-all {
  display: grid;
  grid-template-columns: 0.5fr 3fr;
  margin-bottom: 1em;
  height: 50px;
}

.select-all input[type='checkbox'] {
  margin-top: 1em;
}

.select-all p {
  margin: 1em 0;
  font-weight: bold;
}

.sidebar {
  z-index: 10;
  padding: 1em;
  height: 100vh;
  background: #fff;
  box-shadow: 1px 3px 3px #ccc;
}

.sidebar li {
  display: grid;
  gap: 4px;
  grid-template-columns: 0.5fr 1fr 2fr 1fr;
  margin-bottom: 1em;
  list-style: none;
}

.sidebar input[type='checkbox'] {
  width: 25px;
  height: 25px;
}

.checkbox {
  display: grid;
  justify-content: center;
  align-content: center;
  margin-right: 1em;
}

.circle-container .icon {
  position: relative;
  right: -10px;
  bottom: -50px;
  width: 50px;
}

.circle {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 50px;
  width: 50px;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.circle p {
  margin-top: 0.5em;
}

.blue-bg {
  background: #1740a1;
}

.yellow-bg {
  background: #ffdb77;
}

.white-tx {
  color: #fff;
}

/* Posts View */
.posts-container {
  padding: 1em 1em 1em 2em;
  background: #fafafa;
}

.post-row {
  display: grid;
  grid-template-columns: 0.1fr 1fr 3fr;
  margin-bottom: 1em;
  background: #fff;
  border: 1px solid;
  border-color: #eee;
  border-radius: 0.5em;
  box-shadow: 1px 3px 3px #ccc;
}

.icon {
  display: grid;
  justify-content: center;
  align-content: center;
  padding: 0 1em;
}

.caption {
  line-height: 0.5em;
}

.timestamp {
  position: relative;
  left: -53px;
  border-radius: 5px;
  box-shadow: 1px 3px 3px #ccc;
  background: #fff;
  border: 1px solid;
  border-color: #eee;
  width: auto;
}

.sked-logo img {
  float: right;
  margin: 25px 100px 25px 0;
  height: 150px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
